<div style="padding:5px;" >
    <h3>Address {{$index+1}}</h3>
    <div><span>Address Line:</span> <input type="text" ng-model="address.addressLine1"/></div>
    <div><span>Address Line 2:</span> <input type="text" ng-model="address.addressLine2"/></div>
    <div><span>City:</span> <input type="text" ng-model="address.city"/></div>
    <div><span>State:</span> <input type="text" ng-model="address.state"/></div>
    <div><span>PinCode:</span> <input type="text" ng-model="address.pinCode"/></div>
    <div><span>Country:</span> <input type="text" ng-model="address.country"/></div>
</div>